<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="indigo accent-2") mdi-circle-edit-outline
                        template(v-slot:default="dialog")
                            v-card
                                v-toolbar(color="indigo accent-2" dark)
                                    span Добавить новую акцию
                                v-card-text
                                    div.text-h5.pa-12
                                        form(@submit.prevent="submit()")
                                            div.form-group
                                                //- v-select(v-model="form.selected_stations" :items="stations" label="Выбор АЗС" multiple :item-text="'title'" :item-value="'id'")
                                                //-     template(v-slot:selection="{ item, index }")
                                                //-         v-chip(v-if="index === 0")
                                                //-             span {{ item.title }}
                                                //-         span(v-if="index === 1" class="grey--text text-caption") (+{{ form.selected_stations.length - 1 }} другие)
                                                v-text-field.titleColor(v-model.trim="form.title" type="text" placeholder="Название акции")
                                                v-text-field.titleColor(v-model.trim="form.description" type="text" placeholder="Описание акции")
                                                v-menu(ref="promo_expiration" v-model="promo_expiration" :close-on-content-click="false" :return-value.sync="form.expiration_date" transition="scale-transition" offset-y min-width="auto")
                                                    template(v-slot:activator="{ on, attrs }")
                                                        v-text-field(v-model="form.expiration_date" label="Дата истечения акции" readonly v-bind="attrs" v-on="on")
                                                    v-date-picker(v-model="form.expiration_date" no-title scrollable color="indigo accent-2" @input="closePromoExpireMenu")
                                                        v-spacer
                                                        v-btn(text color="indigo accent-2" @click="promo_expiration = false") Cancel
                                                        v-btn(text color="indigo accent-2" @click="$refs.promo_expiration.save(form.expiration_date)") OK
                                                v-select.titleColor(:items="statuses" placeholder="Выберите статус" v-model.trim="form.status" :item-text="'text'" :item-value="'val'")
                                                template(v-if="endpoint == 'savings'")
                                                    span.textAdditionalSpan Товары: {{goods.length}}
                                                    v-spacer
                                                    v-dialog(transition="dialog-bottom-transition" max-width="98.5%")
                                                        template(v-slot:activator="{ on, attrs }")
                                                            v-btn.mt-2.textAdditionalBtn(v-bind="attrs" v-on="on" outlined color="indigo accent-2") Добавить товары
                                                        template(v-slot:default="dialog")
                                                            v-card
                                                                v-toolbar(color="indigo accent-2" dark)
                                                                    span Добавить товары
                                                                v-card-text
                                                                    div.text-h5.pa-12
                                                                        form(@submit.prevent="submitGoods()")
                                                                            div.form-group
                                                                                label Добавить товары для акции
                                                                                div.fl-ctgrs
                                                                                    div
                                                                                        //- v-select.titleColor(:items="categoriesList" label="Выберите категорию товара" multiple v-model.trim="goodsModel.category" @change="loadGoods(1)" :item-text="'title'" :item-value="'id'")
                                                                                        //-     template(v-slot:selection="{ item, index }")
                                                                                        //-             v-chip(v-if="index === 0")
                                                                                        //-                 span {{ item.title }}
                                                                                        //-             span(v-if="index === 1" class="grey--text text-caption") (+{{ goodsModel.category.length - 1 }} другие)
                                                                                        //tree view code
                                                                                        //- v-treeview(:items="categoriesList" v-model.trim="goodsModel.category" @change="loadGoods(1)" :item-text="'title'" :selection-type="selectionType" selectable return-object item-children="children_recursive")
                                                                                            //- template(v-slot:label="{item}")
                                                                                            //-     .d-flex-tree
                                                                                            //-         div(style="margin-right:30px;") 
                                                                                            //-             .v-treeview-node__label() {{item.title}}
                                                                                        v-treeview(:items="categoriesList" item-text="title" item-children="children_recursive")
                                                                                            template(v-slot:label="{item}")
                                                                                                .d-flex-tree
                                                                                                    div() 
                                                                                                        template(v-if="item.children_recursive")
                                                                                                            template(v-if="item.children_recursive.length == 0")
                                                                                                                template(v-if="item.title == 'Gas'")
                                                                                                                    v-checkbox(item-value="item.id" label="Топливо" @change="loadGoods(1, item.id)")
                                                                                                                template(v-else)
                                                                                                                    v-checkbox(item-value="item.id" :label="item.title" @change="loadGoods(1, item.id)")
                                                                                                            template(v-else)
                                                                                                                //- v-label.theme--light {{item.title}}
                                                                                                                v-checkbox(item-value="item.id" :label="item.title" @change="loadGoods(1, item.id)")
                                                                                                    //- div
                                                                                                    //-     template(v-if="item.children_recursive.length == 0")
                                                                                                    //-         v-dialog(transition="dialog-bottom-transition" max-width="400")
                                                                                                    //-             template(v-slot:activator="{ on, attrs }")
                                                                                                    //-                 v-btn.mr-4.textWhiteTree(outlined @click="" v-bind="attrs" v-on="on")
                                                                                                    //-                     v-icon(color="green") mdi-open-in-new
                                                                                    div
                                                                                        v-select(v-model.trim="goodsModel.goods" :items="goodsList" label="Выберите товар по категории" multiple :item-disabled="disableItem" @change="setDisabledTypes" :item-text="'title'" :item-value="'item_code'")
                                                                                            template(v-slot:selection="{ item, index }")
                                                                                                v-chip(v-if="index === 0")
                                                                                                    span {{ item.title }}
                                                                                                span(v-if="index === 1" class="grey--text text-caption") (+{{ goodsModel.goods.length - 1 }} другие)
                                                                                        v-text-field.titleColor(v-model.trim="goodsModel.amount" type="text" placeholder="Сумма для покупки")
                                                                                        v-select.titleColor(:items="unitsList" label="Выберите юнит" v-model.trim="goodsModel.unit" :item-text="'text'" :item-value="'val'")
                                                                                        small(v-bind:class="[successType ? 'smallSuccess' : 'smallError']") {{typeError}}
                                                                                        v-checkbox(v-model="goodsModel.goods_together" label="Объединить товары")
                                                                                        v-btn.mt-2.titleColor(type="submit" outlined) Добавить
                                                                v-card-actions.justify-end
                                                                    v-btn(@click="dialog.value = false" text) Закрыть
                                                    
                                                    v-spacer
                                                    span.textAdditionalSpan Подарки: {{gifts.length}}
                                                    v-spacer
                                                    v-dialog(transition="dialog-bottom-transition" max-width="98.5%")
                                                        template(v-slot:activator="{ on, attrs }")
                                                            v-btn.mt-2.textAdditionalBtn(v-bind="attrs" v-on="on" outlined color="indigo accent-2") Добавить подарки
                                                        template(v-slot:default="dialog")
                                                            v-card
                                                                v-toolbar(color="indigo accent-2" dark)
                                                                    span Добавить подарки
                                                                v-card-text
                                                                    div.text-h5.pa-12
                                                                        form(@submit.prevent="submitGifts()")
                                                                            div.form-group
                                                                                label Добавить подарки для акции
                                                                                div.fl-ctgrs-gifts
                                                                                    div
                                                                                        v-select.titleColor(:items="giftTypes" label="Выберите тип подарка" v-model.trim="giftsModel.gift_type" :item-text="'text'" :item-value="'val'" @change="discount = !discount")
                                                                                        v-menu(ref="giftExpireDate" v-model="giftExpireDate" :close-on-content-click="false" :return-value.sync="giftsModel.expire_date_gifts" transition="scale-transition" offset-y min-width="auto")
                                                                                            template(v-slot:activator="{ on, attrs }")
                                                                                                v-text-field(v-model="giftsModel.expire_date_gifts" label="Срок действия подарка" readonly v-bind="attrs" v-on="on")
                                                                                            v-date-picker(v-model="giftsModel.expire_date_gifts" no-title scrollable color="indigo accent-2" @input="closeGiftExpireDate")
                                                                                                v-spacer
                                                                                                v-btn(text color="indigo accent-2" @click="giftExpireDate = false") Cancel
                                                                                                v-btn(text color="indigo accent-2" @click="$refs.giftExpireDate.save(giftsModel.expire_date_gifts)") OK
                                                                                    div
                                                                                        template(v-if="giftsModel.gift_type != '2'")
                                                                                            //- v-select.titleColor(:items="categoriesList" label="Выберите категорию товара" v-model.trim="giftsModel.category_gifts_g" @change="loadGoods(2)" :item-text="'title'" :item-value="'id'")
                                                                                            
                                                                                            v-treeview(:items="categoriesList" item-text="title" item-children="children_recursive" activatable color="red")
                                                                                                template(v-slot:label="{item}")
                                                                                                    .d-flex-tree
                                                                                                        div() 
                                                                                                            template(v-if="item.children_recursive")
                                                                                                                template(v-if="item.children_recursive.length == 0")
                                                                                                                    template(v-if="item.title == 'Gas'")
                                                                                                                        span.theme--light-author(item-value="item.id" @click="loadGoods(2, item.id)" style="cursor:pointer") Топливо
                                                                                                                    template(v-else)    
                                                                                                                        span.theme--light-author(item-value="item.id" @click="loadGoods(2, item.id)" style="cursor:pointer") {{ item.title }}
                                                                                                                template(v-else)
                                                                                                                    //- v-label.theme--light {{item.title}}
                                                                                                                    span.theme--light-author(item-value="item.id" @click="loadGoods(2, item.id)" style="cursor:pointer") {{ item.title }}
                                                                                        template(v-else)
                                                                                            //- v-select.titleColor(:items="categoriesList" label="Выберите категорию товара для скидки" v-model.trim="giftsModel.category_gifts_d" @change="loadGoods(3)" :item-text="'title'" :item-value="'id'")
                                                                                            
                                                                                            v-treeview(:items="categoriesList" item-text="title" item-children="children_recursive" activatable color="red")
                                                                                                template(v-slot:label="{item}")
                                                                                                    .d-flex-tree
                                                                                                        div() 
                                                                                                            template(v-if="item.children_recursive")
                                                                                                                template(v-if="item.children_recursive.length == 0")
                                                                                                                    template(v-if="item.title == 'Gas'")
                                                                                                                        span.theme--light-author(item-value="item.id" @click="loadGoods(3, item.id)" style="cursor:pointer") Топливо
                                                                                                                    template(v-else)
                                                                                                                        span.theme--light-author(item-value="item.id" @click="loadGoods(3, item.id)" style="cursor:pointer") {{ item.title }}
                                                                                                                template(v-else)
                                                                                                                    //- v-label.theme--light {{item.title}}
                                                                                                                    span.theme--light-author(item-value="item.id" @click="loadGoods(3, item.id)" style="cursor:pointer") {{ item.title }}
                                                                                    div
                                                                                        template(v-if="giftsModel.gift_type != '2'")
                                                                                            v-select.titleColor(:items="goodsList" label="Выберите товар по категории" v-model.trim="giftsModel.goods_gifts_g" :item-text="'title'" :item-value="'id'")
                                                                                            v-text-field.titleColor(v-model.trim="giftsModel.amount_gifts_g" type="text" placeholder="Сумма товара")
                                                                                            v-select.titleColor(:items="unitsList" label="Выберите юнит" v-model.trim="giftsModel.unit_gifts_g" :item-text="'text'" :item-value="'val'")
                                                                                        template(v-else)
                                                                                            v-select.titleColor(:items="goodsList" label="Выберите товар для скидки по категории" v-model.trim="giftsModel.goods_gifts_d" :item-text="'title'" :item-value="'id'")
                                                                                            v-text-field.titleColor(v-model.trim="giftsModel.amount_gifts_d" type="text" placeholder="Сумма для скидки")
                                                                                            v-select.titleColor(:items="unitsList" label="Выберите юнит" v-model.trim="giftsModel.unit_gifts_d" :item-text="'text'" :item-value="'val'")
                                                                                        v-text-field.titleColor(v-model.trim="giftsModel.expire_days" type="text" placeholder="Количество дней истечения")
                                                                                        v-text-field.titleColor(v-model.trim="giftsModel.max_value" type="text" placeholder="Максимальный объём (сумма)")
                                                                                        v-select.titleColor(:items="volumeUnitsList" label="Выберите юнит для объёма" v-model.trim="giftsModel.max_value_unit" :item-text="'text'" :item-value="'val'")
                                                                                        small(v-bind:class="[successType ? 'smallSuccess' : 'smallError']") {{typeError}}
                                                                                        v-btn.mt-2.titleColor(type="submit" outlined) Добавить
                                                                v-card-actions.justify-end
                                                                    v-btn(@click="dialog.value = false" text) Закрыть
                                                    v-spacer
                                            v-card-actions.justify-end
                                                v-btn.titleColor(type="submit" outlined color="indigo accent-2") Создать акцию
                                            v-card-actions.justify-end
                                                v-btn(@click="dialog.value = false" text) Закрыть
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по списку" single-line hide-details)
                v-data-table.tableStyle.titleColor.mt-10(:headers="headers" :items="promos" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:[`item.st_store_id`]="{ item }")
                        .centerItems
                            span Все магазины
                    template(v-slot:[`item.st_store_name`]="{ item }")
                        .centerItems
                            span Все магазины
                    template(v-slot:[`item.status`]="{ item }")
                        .centerItems
                            span.blueColor {{ statusTitle(item.status) }}
                            br
                            span {{ statusContent(item.status) }}
                    template(v-slot:body.prepend)
                        tr
                            td
                                v-text-field(v-model="o_id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_st_store_id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_st_store_name" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_title" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_description" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_expire_date" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_status" @keyup="searchLocally()" type="text")
                            td
                                v-btn.textWhite(outlined @click="clearSearch()")
                                    span Очистить поиск
                    template(v-slot:item.controls="props") 
                        .d-flex
                            v-dialog(transition="dialog-bottom-transition" max-width="1200")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(v-if="endpoint == 'instant'" disabled outlined v-bind="attrs" v-on="on")
                                        v-icon(color="blue") mdi-information-outline
                                    v-btn.mr-4.textWhite(v-if="endpoint == 'savings'" outlined @click="getInfoSavings(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="blue") mdi-information-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Подробная информация
                                        v-card-text
                                            div.text-h2.pa-12
                                                .d-flex.justify-space-between.mb-12
                                                    div
                                                        v-btn.mt-2.mr-2.textAdditionalBtn(disabled outlined color="indigo accent-2" v-if="goods_selected") Добавить товар
                                                        v-btn.mt-2.mr-2.textAdditionalBtn(disabled outlined color="indigo accent-2" v-if="gifts_selected") Добавить подарок
                                                    div
                                                        v-btn.mt-2.mr-2.textAdditionalBtn(:outlined="gifts_selected" :class="getClassGoods()" color="indigo accent-2" @click="goodsInfo(props.item)") Товары
                                                        v-btn.mt-2.textAdditionalBtn(:outlined="goods_selected" :class="getClassGifts()" color="indigo accent-2" @click="giftsInfo(props.item)") Подарки
                                                v-data-table.tableStyle.titleColor(v-if="goods_selected" :headers="goods_headers" :items="goods_items" :search="search" :hide-default-footer="true")  
                                                    template(v-slot:[`item.amount_unit`]="{ item }")
                                                        span {{ unitConvert(item.amount_unit) }}
                                                    template(v-slot:[`item.pr_title`]="{ item }")
                                                        template(v-if="item.item_code == -1")
                                                            span Объединённые товары
                                                        template(v-else)
                                                            span {{item.pr_title}}
                                                    template(v-slot:item.controls="props") 
                                                        .d-flex
                                                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                                                template(v-slot:activator="{ on, attrs }")
                                                                    v-btn.mr-4.textWhite(disabled outlined @click="deleteGood(props.item)" v-bind="attrs" v-on="on")
                                                                        v-icon(color="#fa8072") mdi-trash-can-outline
                                                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                                                template(v-slot:activator="{ on, attrs }")
                                                                    v-btn.mr-4.textWhite(disabled outlined @click="updateGood(props.item)" v-bind="attrs" v-on="on")
                                                                        v-icon(color="indigo") mdi-circle-edit-outline 
                                                v-data-table.tableStyle.titleColor(v-if="gifts_selected" :headers="gifts_headers" :items="gifts_items" :search="search" :hide-default-footer="true")  
                                                    template(v-slot:[`item.gift_type`]="{ item }")
                                                        span {{ giftTypeConvert(item.gift_type) }}
                                                    template(v-slot:[`item.amount_unit`]="{ item }")
                                                        span {{ unitConvert(item.amount_unit) }} 
                                                    template(v-slot:item.controls="props") 
                                                        .d-flex
                                                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                                                template(v-slot:activator="{ on, attrs }")
                                                                    v-btn.mr-4.textWhite(disabled outlined @click="deleteGift(props.item)" v-bind="attrs" v-on="on")
                                                                        v-icon(color="#fa8072") mdi-trash-can-outline
                                                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                                                template(v-slot:activator="{ on, attrs }")
                                                                    v-btn.mr-4.textWhite(disabled outlined @click="updateGift(props.item)" v-bind="attrs" v-on="on")
                                                                        v-icon(color="indigo") mdi-circle-edit-outline                                     
                                        v-card-actions.justify-end
                                            v-btn(text @click="dialog.value = false") Закрыть
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(outlined @click="updatePromo(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="indigo") mdi-circle-edit-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Изменить акцию
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="submitUpdate(props.item)")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.title" type="text" placeholder="Название акции")
                                                        v-text-field.titleColor(v-model.trim="form_update.description" type="text" placeholder="Описание акции")
                                                        v-menu(ref="promo_expiration_update" :close-on-content-click="false" :return-value.sync="form_update.expiration_date" transition="scale-transition" offset-y min-width="auto")
                                                            template(v-slot:activator="{ on, attrs }")
                                                                v-text-field(v-model="form_update.expiration_date" label="Дата истечения акции" readonly v-bind="attrs" v-on="on")
                                                            v-date-picker(v-model="form_update.expiration_date" no-title scrollable color="indigo accent-2" @input="closePromoExpireMenuUpdate")
                                                                v-spacer
                                                                v-btn(text color="indigo accent-2") Cancel
                                                                v-btn(text color="indigo accent-2") OK
                                                        v-select.titleColor(:items="statuses" placeholder="Выберите статус" v-model.trim="form_update.status" :item-text="'text'" :item-value="'val'")
                                                    v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Изменить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(:disabled="disableDelete(props.item)" outlined @click="deletePromo(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="red") mdi-trash-can-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Удалить акцию
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="submitDelete(props.item)")
                                                    div.form-group
                                                        span Вы точно хотите удалить акцию?
                                                    v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Удалить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
        nav
            span.pagination.justify-content-center.textWhitePage.mb-2 Навигация по всем акциям
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
        v-dialog(v-model="loadingDialog" hide-overlay persistent width="35%")
                v-card.d-flex.flex-column(color="indigo darken-1" dark)
                    v-card-text.p-2
                        p.bar-txt Ошибка при создании акции, попробуйте создать акцию заново
                    //- v-progress-linear(indeterminate color="white" class="mb-0")
        v-dialog(v-model="loadingDialogCategories" hide-overlay persistent width="35%")
                v-card.d-flex.flex-column(color="indigo darken-1" dark)
                    v-card-text.p-2
                        p.bar-txt Пожалуйста подождите, идёт работа с данными
                    v-progress-linear(indeterminate color="white" class="mb-0")
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    // import { PromosApiService } from "@/services/apiRequests/promos.api";
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            loadingDialog: false,
            loadingDialogCategories: false,
            selectionType: 'leaf',
            selection: [],
            o_id: '',
            o_st_store_id: '',
            o_st_store_name: '',
            o_title: '',
            o_description: '',
            o_expire_date: '',
            o_status: '',
            links: [],
            promo_expiration: false,
            promo_expiration_update: false,
            giftExpireDate: false,
            giftTypes: [
                {
                    'text': 'Товар',
                    'val': '1'
                },
                {
                    'text': 'Скидка',
                    'val': '2'
                }
            ],
            discount: false,
            goods: [],
            gifts: [],
            goods_selected: true,
            gifts_selected: false,
            search: '',
            promos: [],
            typeError: '',
            successType: true,
            form: {
                id: '',
                // selected_stations: [],
                title: '',
                description: '',
                expiration_date: new Date().toISOString().substr(0, 10),
                status: '',
            },
            form_update: {
                id: '',
                title: '',
                description: '',
                expiration_date: new Date().toISOString().substr(0, 10),
                status: '',
            },
            form_delete: {
                id: ''
            },
            goodsModel: {
                category: [],
                goods: [],
                amount: '',
                unit: '',
                goods_together: false,
            },
            giftsModel: {
                gift_type: '',
                expire_date_gifts: new Date().toISOString().substr(0, 10),
                category_gifts_g: [],
                goods_gifts_g: '',
                amount_gifts_g: '',
                unit_gifts_g: '',
                category_gifts_d: [],
                amount_gifts_d: '',
                goods_gifts_d: '',
                unit_gifts_d: '',
                expire_days: '',
                max_value: '',
                max_value_unit: '',
            },
            goods_items: [],
            gifts_items: [],
            dis1: false,
            dis2: false,
        }),
        async mounted(){
            this.searchLocally()
            this.loadStores()
            if(this.endpoint == 'savings'){
                this.loadCategories()
            }
        },
        computed: {
            ...mapGetters('modules/promos', [
                'headers',
                'statuses',
                'stations',
                'categoriesList',
                'goodsList',
                'unitsList',
                'volumeUnitsList',
                'goods_headers',
                'gifts_headers',
            ]),
        },
        methods: {
            // async handleSubmit() {
            //     try {
            //         let res = await RetalixApiService.getpromos(params)
            //     } catch (e) {
            //         console.error(e)
            //     }
            // },
            giftTypeConvert(type){
                switch (type) {
                    case 1:
                        return 'Товар'
                    case 8:
                        return 'Скидка'
                    default:
                        return '-'
                }
            },
            unitConvert(type){
                switch (type) {
                    case 1:
                        return 'Штук(а)'
                    case 2:
                        return 'Тенге'
                    case 3:
                        return 'Литр(ов)'
                    case 4:
                        return 'Процент(ов)'
                    default:
                        return '-'
                }
            },
            getClassGoods(){
                return {
                    'white-text': this.goods_selected,
                }
            },
            getClassGifts(){
                return {
                    'white-text': this.gifts_selected,
                }
            },
            ...mapActions("modules/promos", [
                "setHeadersAction",
                "setStationsAction",
                "setCategoriesListAction",
                "setGoodsListAction",
                "setUnitsListAction",
                "setVolumeUnitsListAction",
            ]),
            async getInfoSavings(item) {
                await this.$axios.$get(`${this.endpoint}/promos/goods/${item.id.split(' ')[0]}`)
                .then(response => {
                    this.goods_items = response.data
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async goodsInfo(item){
                this.goods_selected = true
                this.gifts_selected = false
                await this.$axios.$get(`${this.endpoint}/promos/goods/${item.id.split(' ')[0]}`)
                .then(response => {
                    this.goods_items = response.data
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async giftsInfo(item){
                this.goods_selected = false
                this.gifts_selected = true
                await this.$axios.$get(`${this.endpoint}/promos/gifts/${item.id.split(' ')[0]}`)
                .then(response => {
                    this.gifts_items = response.data
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            updatePromo(item) {
                this.form_update.id = item.id.split(' ')[0]
                this.form_update.title = item.title
                this.form_update.description = item.description
                this.form_update.expiration_date = item.expire_date
                this.form_update.status = item.status
            },
            deletePromo(item) {
                this.form_delete.id = item.id.split(' ')[0]
            },
            disableDelete(item){
                if(item.status == 0){
                    return false
                }else{
                    return true
                }
            },
            submitGoods(){
                let obj = {}
                obj.category = this.goodsModel.category
                obj.goods = this.goodsModel.goods.length != 0 ? this.goodsModel.goods : JSON.parse(JSON.stringify(this.goodsList))
                obj.amount = this.goodsModel.amount
                obj.unit = this.goodsModel.unit
                obj.goods_together = this.goodsModel.goods_together
                this.goodsModel.goods_together = false
                this.goods.push(obj)
                this.setGoodsListAction(['Goods1', 'Goods2', 'Goods3'])
            },
            submitGifts(){
                let obj = {}
                obj.gift_type = this.giftsModel.gift_type
                obj.expire_date_gifts = this.giftsModel.expire_date_gifts
                if(this.giftsModel.gift_type != '2'){
                    obj.category_gifts_g = this.giftsModel.category_gifts_g
                    obj.goods_gifts_g = this.giftsModel.goods_gifts_g
                    obj.amount_gifts_g = this.giftsModel.amount_gifts_g
                    obj.unit_gifts_g = this.giftsModel.unit_gifts_g
                }else{
                    obj.category_gifts_d = this.giftsModel.category_gifts_d
                    obj.goods_gifts_d = this.giftsModel.goods_gifts_d
                    obj.amount_gifts_d = this.giftsModel.amount_gifts_d
                    obj.unit_gifts_d = this.giftsModel.unit_gifts_d
                }
                obj.expire_days = this.giftsModel.expire_days,
                obj.max_value = this.giftsModel.max_value,
                obj.max_value_unit = this.giftsModel.max_value_unit,
                this.gifts.push(obj)
            },
            closePromoExpireMenu(){
                this.promo_expiration = false
                this.$refs.promo_expiration.save(this.form.expiration_date)
            },
            closePromoExpireMenuUpdate(){
                this.promo_expiration_update = false
                this.$refs.promo_expiration_update.save(this.form_update.expiration_date.length > 10 ? this.form_update.expiration_date : this.form_update.expiration_date + ' 00:00:00')
            },
            closeGiftExpireDate(){
                this.giftExpireDate = false
                this.$refs.giftExpireDate.save(this.giftsModel.expire_date_gifts)
            },
            statusTitle(status){
                switch (status) {
                    case 0:
                        return '0'
                    case 1:
                        return '1'
                    default:
                        return 'Нет значении'
                }
            },
            statusContent(status){
                switch (status) {
                    case 0:
                        return 'Не активный'
                    case 1:
                        return 'Активный'
                    default:
                        return ''
                }
            },
            async loadStores(){
                try{
                    await this.$axios.$get(this.endpoint + '/stores', {
                    })
                        .then(response => {
                            this.setStationsAction(response.data)
                        })
                }catch(error){
                    console.log(error, 'Error message...')
                }
            },
            async loadCategories(){
                try{
                    await this.$axios.$get(this.endpoint + '/categories', {
                    })
                        .then(response => {
                            this.setCategoriesListAction(response.data)
                        })
                }catch(error){
                    console.log(error, 'Error message...')
                }
            },
            disableItem(item) {
                if(item.title == 'Все товары'){
                    return this.dis1
                }else{
                    return this.dis2
                }
            },
            async loadGoods(type, val_id){
                this.loadingDialogCategories = true
                let categoryToSend = ''
                if(type == 1){
                    if(this.goodsModel.category.includes(val_id)){
                        console.log('includes', val_id, '-------------')
                        let ind = this.goodsModel.category.indexOf(val_id)
                        this.goodsModel.category.splice(ind, 1);
                    }else{
                        console.log('no', val_id, '-------------')
                        this.goodsModel.category.push(val_id)
                    }
                    categoryToSend = this.goodsModel.category
                }else if(type == 2){
                    // if(this.giftsModel.category_gifts_g.includes(val_id)){
                    //     let ind = this.giftsModel.category_gifts_g.indexOf(val_id)
                    //     this.giftsModel.category_gifts_g.splice(ind, 1);
                    // }else{
                    //     this.giftsModel.category_gifts_g.push(val_id)
                    // }
                    this.giftsModel.category_gifts_g = []
                    this.giftsModel.category_gifts_g.push(val_id)
                    categoryToSend = this.giftsModel.category_gifts_g
                }else{
                    // if(this.giftsModel.category_gifts_d.includes(val_id)){
                    //     let ind = this.giftsModel.category_gifts_d.indexOf(val_id)
                    //     this.giftsModel.category_gifts_d.splice(ind, 1);
                    // }else{
                    //     this.giftsModel.category_gifts_d.push(val_id)
                    // }
                    this.giftsModel.category_gifts_d = []
                    this.giftsModel.category_gifts_d.push(val_id)
                    categoryToSend = this.giftsModel.category_gifts_d
                }
                try{
                    await this.$axios.$post(this.endpoint + '/goods', {
                        category: categoryToSend
                    })
                        .then(response => {
                            response.data.push({id: -111, title: 'Все товары', item_code: -111})
                            this.setGoodsListAction(response.data)
                            this.loadingDialogCategories = false
                        })
                }catch(error){
                    this.loadingDialogCategories = false
                    console.log(error, 'Error message...')
                }
            },
            async searchLocally(){
                await this.$axios.$get(this.endpoint + '/promos', {
                    params: {
                        id: this.o_id,
                        // st_store_id: this.o_st_store_id,
                        // st_store_name: this.o_st_store_name,
                        title: this.o_title,
                        description: this.o_description,
                        expire_date: this.o_expire_date,
                        status: this.o_status,
                    }
                })
                    .then(response => {
                        this.promos = response.data
                        this.links = response.links

                        this.promos.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            async setDisabledTypes(id) {
                if(id[id.length - 1] == -111){
                    this.dis2 = !this.dis2
                    this.goodsModel.goods = []
                    if(this.dis2){
                        for(let i = 0; i < this.goodsList.length - 1; i++){
                            this.goodsModel.goods.push(this.goodsList[i].item_code)
                        }
                    }else{
                        this.goodsModel.goods = []
                    }
                }else{
                    if(this.goodsModel.goods.length == this.goodsList.length - 1){
                        this.dis2 = !this.dis2
                        this.goodsModel.goods = []
                    }
                }
            },
            clearSearch(){
                this.o_id = '',
                // this.o_st_store_id = '',
                // this.o_st_store_name = '',
                this.o_title = '',
                this.o_description = '',
                this.o_expire_date = '',
                this.o_status = '',
                this.searchLocally()
            },
            clearForms(){
                this.form = {
                    id: '',
                    // selected_stations: [],
                    title: '',
                    description: '',
                    expiration_date: new Date().toISOString().substr(0, 10),
                    status: '',
                }
                this.goodsModel = {
                    category: [],
                    goods: [],
                    amount: '',
                    unit: '',
                    goods_together: false,
                }
                this.giftsModel = {
                    gift_type: '',
                    expire_date_gifts: new Date().toISOString().substr(0, 10),
                    category_gifts_g: [],
                    goods_gifts_g: '',
                    amount_gifts_g: '',
                    unit_gifts_g: '',
                    category_gifts_d: [],
                    amount_gifts_d: '',
                    goods_gifts_d: '',
                    unit_gifts_d: '',
                    expire_days: '',
                    max_value: '',
                    max_value_unit: '',
                }
                this.goods = []
                this.gifts = []
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                let response = await this.$axios.$get(key)
                    .then(response => {
                        this.promos = response.data
                        this.links = response.links

                        this.promos.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            async submitUpdate(){
                await this.$axios.$patch(`/${this.endpoint}/update-promo`, {
                        id: this.form_update.id,
                        title: this.form_update.title,
                        description: this.form_update.description,
                        expiration_date: this.form_update.expiration_date,
                        status: this.form_update.status
                    }).then(response => {
                        this.searchLocally()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async submitDelete(){
                await this.$axios.$patch(`/${this.endpoint}/delete-promo`, {
                        id: this.form_delete.id
                    }).then(response => {
                        this.searchLocally()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async submit() {
                this.typeError = ''
                let update = true

                let obj = {}
                // obj.selected_stations = this.form.selected_stations.length != 0 ? this.form.selected_stations : JSON.parse(JSON.stringify(this.stations))
                obj.title = this.form.title
                obj.description = this.form.description
                obj.expiration_date = this.form.expiration_date
                obj.status = this.form.status

                if(this.endpoint == 'instant'){
                    // console.log('instant ---')
                    await this.$axios.$post(`/${this.endpoint}/create`, {
                        obj: obj
                    }).then(response => {
                        // console.log(response.code, ' code -------')
                        // console.log(response.data, 'response.data -----')
                        // console.log(response, 'response ----')
                        this.searchLocally()
                        this.clearForms()
                        if(response.data.code == 200){
                            this.typeError = 'Успешно обновлено'
                            this.successType = true
                            this.searchLocally()
                            this.clearForms()
                        }else{
                            this.typeError = 'Ошибка обновления в обращении к Instant Api'
                            this.successType = false
                        }
                    }).catch(err => {
                        this.typeError = 'Ошибка обновления в обращении к Instant Api'
                        this.successType = false
                        console.log(err, 'error')
                    })
                }else{
                    // console.log('savings ---')
                    if(this.goods.length != 0){
                        obj.goods = JSON.parse(JSON.stringify(this.goods))
                    }
                    if(this.gifts.length != 0){
                        obj.gifts = JSON.parse(JSON.stringify(this.gifts))
                    }
                    await this.$axios.$post(`/${this.endpoint}/create`, {
                        obj: obj
                    }).then(response => {
                        // console.log(response.code, ' code -------')
                        // console.log(response.data, 'response.data -----')
                        // console.log(response, 'response ----')
                        this.searchLocally()
                        this.clearForms()
                        if(response.data.code == 200){
                            this.typeError = 'Успешно обновлено'
                            this.successType = true
                            this.searchLocally()
                            this.clearForms()
                        }else if(response.httpCode){
                            if(response.httpCode == 500){
                                this.loadingDialog = true
                                setTimeout(this.loadingDialog = false, 3000);
                            }
                        }else{
                            // this.typeError = 'Ошибка обновления в обращении к Savings Api'
                            this.successType = false
                        }
                    }).catch(err => {
                        // this.typeError = 'Ошибка обновления в обращении к Savings Api'
                        this.loadingDialog = true
                        setTimeout(this.loadingDialog = false, 3000);
                        this.successType = false
                        console.log(err, 'error')
                    })
                }
            },
        }
    }
</script>
<style scoped>
    .theme--light-author{
        color:rgba(0, 0, 0, 0.6) !important;
        font-size: 16px !important;
        line-height: 1 !important;
        min-height: 8px !important;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
    }
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
    .textAdditionalSpan{
        font-size: 12px;
    }
    .textAdditionalBtn{
        font-size: 10px;
    }
    .f-width{
        width:41%;
    }
    .white-text{
        color:white;
    }
    .fl-ctgrs{
        display: flex;
        justify-content: space-between;
        padding:50px 150px 50px 150px;
    }
    .fl-ctgrs-gifts{
        display: flex;
        justify-content: space-between;
        padding:50px 25px 50px 25px;
    }
    .d-flex-tree{
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
    .textWhiteTree{
        color:rgba(0, 0, 0, 0.6) !important;
        height:30px !important;
    }
</style>