<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="indigo") mdi-circle-edit-outline
                        template(v-slot:default="dialog")
                            v-card
                                v-toolbar(color="indigo accent-2" dark)
                                    span Добавить нового пользователя
                                v-card-text
                                    div.text-h5.pa-12
                                        form(@submit.prevent="create()")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.username" type="text" placeholder=" Имя пользователя")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.first_name" type="text" placeholder="Имя")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.last_name" type="text" placeholder="Фамилия")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.display_name" type="text" placeholder="Имя для показа")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.phone" type="text" placeholder="Телефон")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.email" type="text" placeholder="Почта")
                                            v-card-actions.justify-end
                                                v-btn.titleColor(type="submit" outlined color="indigo accent-2") Создать пользователя
                                            v-card-actions.justify-end
                                                v-btn(@click="dialog.value = false" text) Закрыть
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по списку" single-line hide-details)
                v-data-table.tableStyle.titleColor.mt-10(:headers="headers_users" :items="users" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:body.prepend)
                        tr
                            td
                                v-text-field(v-model="id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="username" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="first_name" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="last_name" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="display_name" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="phone" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="email" @keyup="searchLocally()" type="text")
                            td
                                v-btn.textWhite(outlined @click="clearSearch()")
                                    span Очистить поиск
                    template(v-slot:item.controls="props") 
                        .d-flex
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(outlined @click="setVals(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="indigo") mdi-circle-edit-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Изменить пользователя
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="update(props.item)")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.username" type="text" placeholder="Имя пользователя")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.first_name" type="text" placeholder="Имя")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.last_name" type="text" placeholder="Фамилия")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.display_name" type="text" placeholder="Имя для показа")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.phone" type="text" placeholder="Телефон")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.email" type="text" placeholder="Почта")
                                                    v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Изменить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
                            v-btn.mr-4.textWhite(outlined @click="deleteItem(props.item)")
                                v-icon(color="red") mdi-information-outline
        nav
            span.pagination.justify-content-center.textWhitePage.mb-2 Навигация по всем пользователям
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            links: [],
            search: '',
            users: [],
            typeError: '',
            successType: true,
            id: '',
            username: '',
            first_name: '',
            last_name: '',
            display_name: '',
            phone: '',
            email: '',
            form: {
                username: '',
                first_name: '',
                last_name: '',
                display_name: '',
                phone: '',
                email: '',
            },
            form_update: {
                id: '',
                username: '',
                first_name: '',
                last_name: '',
                display_name: '',
                phone: '',
                email: '',
            },
        }),
        async mounted(){
            this.searchLocally()
        },
        computed: {
            ...mapGetters('modules/users', [
                'headers_users'
            ]),
        },
        methods: {
            ...mapActions("modules/users", [
                "setHeadersUsersAction"
            ]),
            async deleteItem(item) {
                await this.$axios.$delete(`${this.endpoint}`,
                    {
                    params: {
                        id: item.id.split(' ')[0]
                    }})
                .then(response => {
                    this.searchLocally()
                    this.clearForms()
                    console.log(response.data)
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            setVals(item) {
                this.form_update.id = item.id.split(' ')[0]
                this.form_update.username = item.username
                this.form_update.first_name = item.first_name
                this.form_update.last_name = item.last_name
                this.form_update.display_name = item.display_name
                this.form_update.phone = item.phone
                this.form_update.email = item.email
            },
            async searchLocally(){
                await this.$axios.$get(this.endpoint, {
                    params: {
                        id: this.id,
                        username: this.username,
                        first_name: this.first_name,
                        last_name: this.last_name,
                        display_name: this.display_name,
                        phone: this.phone,
                        email: this.email
                    }
                })
                    .then(response => {
                        this.users = response.data
                        this.links = response.links

                        this.users.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            clearSearch(){
                this.id = '',
                this.username = '',
                this.first_name = '',
                this.last_name = '',
                this.display_name = '',
                this.phone = '',
                this.email = '',
                this.searchLocally()
            },
            clearForms(){
                this.form = {
                    id: '',
                    username: '',
                    first_name: '',
                    last_name: '',
                    display_name: '',
                    phone: '',
                    email: ''
                }
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                let response = await this.$axios.$get(key)
                    .then(response => {
                        this.users = response.data
                        this.links = response.links

                        this.users.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            async update(){
                await this.$axios.$patch(`/${this.endpoint}`, {
                        id: this.form_update.id,
                        username: this.form_update.username,
                        first_name: this.form_update.first_name,
                        last_name: this.form_update.last_name,
                        display_name: this.form_update.display_name,
                        phone: this.form_update.phone,
                        email: this.form_update.email
                    }).then(response => {
                        this.searchLocally()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async create() {
                this.typeError = ''

                let obj = {}
                obj.username = this.form.username
                obj.first_name = this.form.first_name
                obj.last_name = this.form.last_name
                obj.display_name = this.form.display_name
                obj.phone = this.form.phone
                obj.email = this.form.email

                await this.$axios.$post(`/${this.endpoint}`, {
                    obj: obj
                }).then(response => {
                    this.searchLocally()
                    this.clearForms()
                    if(response.data.code == 200){
                        this.typeError = 'Успешно обновлено'
                        this.successType = true
                        this.searchLocally()
                        this.clearForms()
                    }else{
                        this.typeError = 'Ошибка обновления в обращении к Instant Api'
                        this.successType = false
                    }
                }).catch(err => {
                    this.typeError = 'Ошибка обновления в обращении к Instant Api'
                    this.successType = false
                    console.log(err, 'error')
                })
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
    .textAdditionalSpan{
        font-size: 12px;
    }
    .textAdditionalBtn{
        font-size: 10px;
    }
    .f-width{
        width:41%;
    }
    .white-text{
        color:white;
    }
</style>