<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по списку" single-line hide-details)
                v-data-table.tableStyle.titleColor.mt-10(:headers="headers_promo_history" :items="history_data" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:body.prepend)
                        tr
                            td
                                v-text-field(v-model="id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="username" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="promo_id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="promo_title" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="created_at" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="ip_address" @keyup="searchLocally()" type="text")
                            td
                                v-btn.textWhite(outlined @click="clearSearch()")
                                    span Очистить поиск
        nav
            span.pagination.justify-content-center.textWhitePage.mb-2 Навигация по всем пользователям
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            links: [],
            search: '',
            history_data: [],
            typeError: '',
            successType: true,
            id: '',
            username: '',
            promo_id: '',
            promo_title: '',
            created_at: '',
            ip_address: '',
        }),
        async mounted(){
            this.searchLocally()
        },
        computed: {
            ...mapGetters('modules/promoHistory', [
                'headers_promo_history'
            ]),
        },
        methods: {
            ...mapActions("modules/promoHistory", [
                "setHeadersPromoHistoryAction"
            ]),
            async searchLocally(){
                await this.$axios.$get(this.endpoint, {
                    params: {
                        id: this.id,
                        username: this.username,
                        promo_id: this.promo_id,
                        promo_title: this.promo_title,
                        created_at: this.created_at,
                        ip_address: this.ip_address
                    }
                })
                    .then(response => {
                        this.history_data = response.data
                        this.links = response.links

                        this.history_data.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            clearSearch(){
                this.id = '',
                this.username = '',
                this.promo_id = '',
                this.promo_title = '',
                this.created_at = '',
                this.ip_address = '',
                this.searchLocally()
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                let response = await this.$axios.$get(key)
                    .then(response => {
                        this.history_data = response.data
                        this.links = response.links

                        this.history_data.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
    .textAdditionalSpan{
        font-size: 12px;
    }
    .textAdditionalBtn{
        font-size: 10px;
    }
    .f-width{
        width:41%;
    }
    .white-text{
        color:white;
    }
</style>