// edit
// goods and categories
<template lang='pug'>
    EditTable(title='Товары и категории' endpoint='edit')
</template>
<script>
    import EditTable from '@/components/edits/EditTable';
    export default {
        middleware: ['auth'],
        components: {
            EditTable,
        }
    }
</script>