<template lang='pug'>
    FaqTable(title='FAQ' endpoint='faq')
</template>
<script>
    import FaqTable from '@/components/faq/FaqTable';
    export default {
        middleware: ['auth'],
        components: {
            FaqTable,
        }
    }
</script>