<template lang='pug'>
    PromosTable(title='Моментальная акция' endpoint='instant')
</template>
<script>
    import PromosTable from '@/components/promos/PromosTable';
    export default {
        middleware: ['auth'],
        components: {
            PromosTable,
        }
    }
</script>