<template lang='pug'>
    NotificationsTable(title=' Уведомления' endpoint='notifications')
</template>
<script>
    import NotificationsTable from '@/components/notifications/NotificationsTable';
    export default {
        middleware: ['auth'],
        components: {
            NotificationsTable,
        }
    }
</script>