// promo history
<template lang='pug'>
    PromoHistoryTable(title='История создании акции' endpoint='promo-history')
</template>
<script>
    import PromoHistoryTable from '@/components/promoHistory/PromoHistoryTable';
    export default {
        middleware: ['auth'],
        components: {
            PromoHistoryTable,
        }
    }
</script>