<template lang="pug">
    .container.col-md-6.mt-5
        v-alert.m-3.p-3.titleColor(elevation="2" outlined)
            h2 Регистрация
            br
            form(@submit.prevent="submit")
                .form-group
                    label Имя пользователя
                    v-text-field.titleColor(v-model.trim="form.username" type="text" placeholder="Введите имя пользователя")
                    small.form-text.text-danger(v-if="errors.username") {{errors.username[0]}}
                .form-group
                    label Адрес почты
                    v-text-field.titleColor(v-model.trim="form.email" type="email" placeholder="Введите адрес почты")
                    small.form-text.text-danger(v-if="errors.email") {{errors.email[0]}}
                .form-group
                    label Пароль
                    v-text-field.titleColor(v-model.trim="form.password" type="password" placeholder="Введите пароль")
                    small.form-text.text-danger(v-if="errors.password") {{errors.password[0]}}
                v-btn.mt-2.titleColor(type="submit" outlined) Регистрация
            br
            p Уже есть аккаунт? 
                nuxt-link(to="/login") Войти
</template>
<script>
export default {
    middleware: ['guest'],
    data() {
        return {
            form: {
                email: '',
                username: '',
                password: '',
            }
        }
    },
    methods: {
        async submit() {
            await this.$axios.$post('register', this.form)
            .then(response => {
                this.$auth.loginWith('laravelJWT', {
                    data: {
                        email: this.form.email,
                        password: this.form.password,
                    },
                }).then(response => {
                    this.$auth.setUserToken(response.data.meta.token, true)
                    this.$router.push('/')
                }).catch(err => {
                    console.log(err);
                });
            }).catch(err => {
                console.log(err);
            });
        }
    }
}
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
</style>