<template lang='pug'>
    PromosTable(title='Накопительная акция' endpoint='savings')
</template>
<script>
    import PromosTable from '@/components/promos/PromosTable';
    export default {
        middleware: ['auth'],
        components: {
            PromosTable,
        }
    }
</script>