<template lang='pug'>
    UsersTable(title='Пользователи' endpoint='users')
</template>
<script>
    import UsersTable from '@/components/users/UsersTable';
    export default {
        middleware: ['auth'],
        components: {
            UsersTable,
        }
    }
</script>