<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    v-btn.mt-2.mr-2.textAdditionalBtn(:outlined="products_selected" :class="getClassCategories()" color="indigo accent-2" @click="categoriesInfo('categories')") Категории
                    v-btn.mt-2.textAdditionalBtn(:outlined="categories_selected" :class="getClassProducts()" color="indigo accent-2" @click="productsInfo('products')") Товары
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по списку" single-line hide-details)
                //products
                v-data-table.tableStyle.titleColor.mt-10(v-if="products_selected" :headers="products_headers" :items="products_items" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:body.prepend)
                        tr
                            td
                                v-text-field(v-model="id" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="title_p" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="item_code" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="category_id" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="description" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="price" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="quantity" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="weight" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="weight_unit" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(v-model="ean13" @keyup="productsInfo()" type="text")
                            td
                                v-text-field(type="text")
                            td
                                v-btn.textWhite(outlined @click="clearProducts()")
                                    span Очистить поиск
                    template(v-slot:[`item.img`]="{ item }")
                        .centerItems
                            v-dialog
                                template(v-slot:activator="{ on, attrs }")
                                    template(v-if="item.img != ''")
                                        v-img(:src="$config.SERVER_ADDRESS + '/storage/' + item.img" class="img-default-size" contain v-bind="attrs" v-on="on")
                                    template(v-else)
                                        v-img(alt="Нет картины" :src="require(`~/assets/images/no_image.jpeg`)")
                                template(v-slot:default="dialog")
                                    v-img( :src="$config.SERVER_ADDRESS + '/storage/' + item.img" class="img-enlarged-size" contain @click="dialog.value = false")
                    template(v-slot:item.controls="props") 
                        .d-flex
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(outlined @click="updateProduct(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="indigo") mdi-circle-edit-outline
                                        //file-image-plus-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Изменить товар
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="submitProduct()")
                                                    div.form-group
                                                        v-label Название товара
                                                        v-text-field.titleColor(v-model.trim="form_product.title_p" type="text" placeholder="Название товара")
                                                        v-label Код товара
                                                        v-text-field.titleColor(v-model.trim="form_product.item_code" type="text" placeholder="Код товара")
                                                        v-label Категория
                                                        v-text-field.titleColor(v-model.trim="form_product.category_id" type="text" placeholder="Категория")
                                                        v-label Описание
                                                        v-text-field.titleColor(v-model.trim="form_product.description" type="text" placeholder="Описание")
                                                        v-label Цена
                                                        v-text-field.titleColor(v-model.trim="form_product.price" type="text" placeholder="Цена")
                                                        v-label Количество
                                                        v-text-field.titleColor(v-model.trim="form_product.quantity" type="text" placeholder="Количество")
                                                        v-label Вес
                                                        v-text-field.titleColor(v-model.trim="form_product.weight" type="text" placeholder="Вес")
                                                        v-label Юнит
                                                        v-text-field.titleColor(v-model.trim="form_product.weight_unit" type="text" placeholder="Юнит")
                                                        v-label Штрих код
                                                        v-text-field.titleColor(v-model.trim="form_product.ean13" type="text" placeholder="Штрих код")
                                                        //- v-select.titleColor(:items="statuses" placeholder="Выберите статус" v-model.trim="form_update.status" :item-text="'text'" :item-value="'val'")
                                                    v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Изменить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(outlined @click="createImage(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="blue") mdi-file-image-plus-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Добавить картинку
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="submitImage()")
                                                    div.form-group
                                                        div.d-flex.justify-space-between.imgWrapper
                                                            label.imgLabel() Выберите картинку
                                                                input(style="display:none" type="file" accept="image/png, image/jpg, image/gif, image/jpeg" ref="file" @change="handleFileObject()")
                                                            span.imgName {{form_image.name}}
                                                    v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Добавить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть    
                            v-btn.mr-4.textWhite(outlined @click="deleteImage(props.item)" :disabled="props.item.img == ''")
                                        v-icon(color="red") mdi-trash-can-outline           
                //categories
                //tree view code
                v-treeview(v-if="categories_selected" :items="categories_items" item-text="title" item-children="children_recursive")
                    template(v-slot:label="{item}")
                        .d-flex-tree
                            div(style="margin-right:30px;") 
                                .v-treeview-node__label() {{item.title}}
                            div
                                template(v-if="item.children_recursive.length == 0")
                                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                                        template(v-slot:activator="{ on, attrs }")
                                            v-btn.mr-4.textWhiteTree(outlined @click="updateCategory(item)" v-bind="attrs" v-on="on")
                                                v-icon(color="indigo") mdi-circle-edit-outline
                                        template(v-slot:default="dialog")
                                            v-card
                                                v-toolbar(color="indigo accent-2" dark)
                                                    span Изменить категорию
                                                v-card-text
                                                    div.text-h5.pa-12
                                                        form(@submit.prevent="submitCategory()")
                                                            div.form-group
                                                                v-label Название категории
                                                                v-text-field.titleColor(v-model.trim="form_category.title_c" type="text" placeholder="Название категории")
                                                            div.form-group
                                                                v-select(v-model.trim="form_category.stores" :items="stores" label="Выберите азс для категории" multiple :item-text="'label'" :item-value="'id'" :item-disabled="disableItemStore" @change="setStores")
                                                                    template(v-slot:selection="{ item, index }")
                                                                        v-chip(v-if="index === 0")
                                                                            span {{ item.label }}
                                                                        span(v-if="index === 1" class="grey--text text-caption") (+{{ form_category.stores.length - 1 }} другие)
                                                            v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Изменить
                                                v-card-actions.justify-end
                                                    v-btn(@click="dialog.value = false" text) Закрыть
                            div
                                template(v-if="item.children_recursive.length == 0")
                                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                                        template(v-slot:activator="{ on, attrs }")
                                            v-btn.mr-4.textWhiteTree(outlined @click="openCategoryGoods(item)" v-bind="attrs" v-on="on")
                                                v-icon(color="green") mdi-open-in-new
        nav
            span.pagination.justify-content-center.textWhitePage.mb-2 Навигация по всем {{getSelectedSection()}}
            v-dialog(v-model="loadingDialog" hide-overlay persistent width="97%")
                v-card(color="indigo darken-1" dark)
                    v-card-text
                        p Пожалуйста подождите, данные загружаются
                    v-progress-linear(indeterminate color="white" class="mb-0")
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            id: '',
            title_p: '',
            item_code: '',
            category_id: '',
            description: '',
            price: '',
            quantity: '',
            weight: '',
            weight_unit: '',
            ean13: '',
            id_c: '',
            title_c: '',
            store_id_c: '',
            object_type_c: '', 
            links: [],
            products_selected: false,
            categories_selected: true,
            search: '',
            typeError: '',
            successType: true,
            loadingDialog: false,
            form_product: {
                id: '',
                title_p: '',
                item_code: '',
                category_id: '',
                description: '',
                price: '',
                quantity: '',
                weight: '',
                weight_unit: '',
                ean13: '',
            },
            form_category: {
                id_c: '',
                title_c: '',
                store_id_c: '',
                object_type_c: '',
                stores:[]
            },
            form_image: {
                id: '',
                img: null,
                name: '',
            },
            products_items: [],
            categories_items: [],
            imageEnlarged: false,
            dis11: false,
            dis22: false
        }),
        async mounted(){
            this.categoriesInfo()
            this.getStores()
        },
        computed: {
            ...mapGetters('modules/promos', [
                'headers',
                'statuses',
                'stations',
                'categoriesList',
                'goodsList',
                'unitsList',
                'volumeUnitsList',
                'products_headers',
                'categories_headers',
                'currentPage',
                'stores'
            ])
        },
        methods: {
            enlargeImage() {
                console.log("enlarged");
                this.imageEnlarged = !this.imageEnlarged;
            },
            getClassProducts(){
                return {
                    'white-text': this.products_selected,
                }
            },
            getClassCategories(){
                return {
                    'white-text': this.categories_selected,
                }
            },
            disableItemStore(item) {
                if(item.id == -1){
                    return this.dis11
                }else{
                    return this.dis22
                }
            },
            async getStores() {
                await this.$axios.$get(`${this.endpoint}/stores`
                )
                .then(response => {
                    response.data.push({label: 'Все АЗС', id: -1})
                    this.setStoresAction(response.data)
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async setStores(id) {
                if(id[id.length - 1] == -1){
                    this.dis22 = !this.dis22
                    this.form_category.stores = []
                    if(this.dis22){
                        for(let i = 0; i < this.stores.length; i++){
                            this.form_category.stores.push(this.stores[i].id)
                        }
                    }else{
                        this.form_category.stores = []
                    }
                }else{
                    if(this.form_category.stores.length == this.stores.length - 1){
                        this.dis22 = !this.dis22
                        this.form_category.stores = []
                    }
                }
                console.log('form stores', this.form_category.stores)
            },
            ...mapActions("modules/promos", [
                "setHeadersAction",
                "setStationsAction",
                "setCategoriesListAction",
                "setGoodsListAction",
                "setUnitsListAction",
                "setVolumeUnitsListAction",
                "setCurrentPageAction",
                "setStoresAction"
            ]),
            getSelectedSection() {
                if(this.products_selected){
                    return 'товарам'
                }else{
                    return 'категориям'
                }
            },
            async productsInfo(item){
                this.products_selected = true
                this.categories_selected = false
                await this.$axios.$get(`${this.endpoint}/products`,{
                    params: {
                        id: this.id,
                        title_p: this.title_p,
                        item_code: this.item_code,
                        category_id: this.category_id,
                        description: this.description,
                        price: this.price,
                        quantity: this.quantity,
                        weight: this.weight,
                        weight_unit: this.weight_unit,
                        ean13: this.ean13,
                    }
                })
                .then(response => {
                    this.products_items = response.data
                    this.links = response.links
                    this.setCurrentPageAction(response.links.first)

                    this.products_items.forEach((item, i) => {
                        item.id = item.id + ' (' + (i + 1) + ')';
                    })

                    if(this.loadingDialog){
                        this.loadingDialog = false
                    }
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async categoriesInfo(item){
                this.products_selected = false
                this.categories_selected = true
                await this.$axios.$get(`${this.endpoint}/categories`, {
                    params: {
                        id_c: this.id_c,
                        title_c: this.title_c,
                        store_id_c: this.store_id_c,
                        object_type_c: this.object_type_c,
                    }
                })
                .then(response => {
                    this.categories_items = response
                    // this.links = response.links

                    // this.categories_items.forEach((item, i) => {
                    //     item.id_c = item.id_c + ' (' + (i + 1) + ')';
                    // })
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            updateProduct(item) {
                this.form_product.id = item.id.split(' ')[0]
                this.form_product.title_p = item.title_p
                this.form_product.item_code = item.item_code
                this.form_product.category_id = item.category_id
                this.form_product.description = item.description
                this.form_product.price = item.price
                this.form_product.quantity = item.quantity
                this.form_product.weight = item.weight
                this.form_product.weight_unit = item.weight_unit
                this.form_product.ean13 = item.ean13
            },
            async updateCategory(item) {
                this.form_category.id_c = item.id
                this.form_category.title_c = item.title
                this.loadingDialog = true
                await this.$axios.$get(`${this.endpoint}/categories-stores`, {
                    params: {
                        id: item.id
                    }
                })
                .then(response => {
                    this.form_category.stores = []
                    for(let i = 0; i < response.data.length; i++){
                        this.form_category.stores.push(response.data[i].store_id)
                    }
                }).catch(err => {
                    console.log(err, 'error')
                })
                if(this.loadingDialog){
                    this.loadingDialog = false
                }
            },
            openCategoryGoods(item){
                this.categories_selected = false
                this.products_selected = true
                this.category_id = item.id
                this.productsInfo()
                this.category_id = ''
            },
            createImage(item) {
                this.form_image.id = item.id.split(' ')[0]
            },
            handleFileObject() {
                this.form_image.name = ''
                this.form_image.img = null
                this.form_image.img = this.$refs.file.files[0]
                if(this.$refs.file.files[0] != undefined){
                    this.form_image.name = this.$refs.file.files[0].name
                }else{
                    this.form_image.name = 'Картинка не выбрана'
                }
                // this.$refs.file.files = null;
                this.$refs.file.value = '' // this line added 14.12.2022 to fix bug with img choosing (user cannot choose one img twice in a row, to fix that, this line was added)
            },
            clearProducts(){
                this.id = '',
                this.title_p = '',
                this.item_code = '',
                this.category_id = '',
                this.description = '',
                this.price = '',
                this.quantity = '',
                this.weight = '',
                this.weight_unit = '',
                this.ean13 = '',
                this.productsInfo()
            },
            clearCategories(){
                this.id_c = '',
                this.title_c = '',
                this.store_id_c = '',
                this.object_type_c = '', 
                this.categoriesInfo()
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                this.setCurrentPageAction(key)
                let response = await this.$axios.$get(key)
                    .then(response => {
                        if(this.products_selected){
                            this.products_items = response.data
                            this.links = response.links

                            this.products_items.forEach((item, i) => {
                                item.id = item.id + ' (' + (i + 1) + ')';
                            })
                        }else{
                            this.categories_items = response
                            // this.links = response.links

                            // this.categories_items.forEach((item, i) => {
                            //     item.id_c = item.id_c + ' (' + (i + 1) + ')';
                            // })
                        }
                    })
                if(this.loadingDialog){
                    this.loadingDialog = false
                }
            },
            async submitProduct(){
                await this.$axios.$patch(`/${this.endpoint}/update-product`, {
                        id: this.form_product.id,
                        title_p: this.form_product.title_p,
                        item_code: this.form_product.item_code,
                        category_id: this.form_product.category_id,
                        description: this.form_product.description,
                        price: this.form_product.price,
                        quantity: this.form_product.quantity,
                        weight: this.form_product.weight,
                        weight_unit:this.form_product.weight_unit,
                        ean13:this.form_product.ean13
                    }).then(response => {
                        this.productsInfo()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async submitCategory(){
                await this.$axios.$patch(`/${this.endpoint}/update-category`, {
                        id_c: this.form_category.id_c,
                        title_c: this.form_category.title_c,
                        stores_c: this.form_category.stores
                    }).then(response => {
                        this.categoriesInfo()
                        this.clearForms()
                        if(this.dis22 == true){
                            this.dis22 = !this.dis22
                        }
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async submitImage(){
                // this.$refs.file.files = null;

                this.loadingDialog = true

                let formData = new FormData();
                formData.append('img', this.form_image.img);
                formData.append('id', this.form_image.id);
                formData.append('name', this.form_image.name);

                await this.$axios.$post(`/${this.endpoint}/create-image`, formData, {
                        'Content-Type': 'multipart/form-data'
                    }).then(response => {
                        if(this.currentPage != ''){
                            this.loadMore(this.currentPage)
                            this.clearForms()
                        }else{
                            this.productsInfo()
                            this.clearForms()
                        }
                        // this.productsInfo()
                        // this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async deleteImage(item){
                this.loadingDialog = true

                this.form_image.id = item.id.split(' ')[0]

                await this.$axios.$delete(`/${this.endpoint}/delete-image`, {
                    params: {
                        id: this.form_image.id
                    }}).then(response => {
                        if(this.currentPage != ''){
                            this.loadMore(this.currentPage)
                            this.clearForms()
                        }else{
                            this.productsInfo()
                            this.clearForms()
                        }
                        // this.productsInfo()
                        // this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            clearForms() {
                this.form_product = {
                    id: '',
                    title_p: '',
                    item_code: '',
                    category_id: '',
                    description: '',
                    price: '',
                    quantity: '',
                    weight: '',
                    weight_unit: '',
                    ean13: '',
                }
                this.form_category = {
                    id_c: '',
                    title_c: '',
                    store_id_c: '',
                    object_type_c: '',
                    stores: []
                },
                this.form_image = {
                    id: '',
                    img: '',
                    name: '',
                }
            }
        }
    }
</script>
<style scoped>
    .d-flex-tree{
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhiteTree{
        color:rgba(0, 0, 0, 0.6) !important;
        height:30px !important;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
    .textAdditionalSpan{
        font-size: 12px;
    }
    .textAdditionalBtn{
        font-size: 10px;
    }
    .f-width{
        width:41%;
    }
    .white-text{
        color:white;
    }
    .imgWrapper{
        width:280px;
        padding:0;
        margin-bottom:0;
        height:30px;
    }
    .imgLabel{
        cursor: pointer;
        width:200px;
        height:30px;
        font-size:0.875rem;
        border-bottom:0.3px solid grey;
        border-radius: 5%;
    }
    .imgName{
        width:200px;
        height:30px;
        font-size:0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding:0 auto;
        text-align: center;
    }
    .imgInput{
        display:none;
    }
    .img-default-size {
        height: 40px;
        width:50px;
        transition: all 0.2s;
        margin:0 auto;
    }
    .img-enlarged-size {
        height: 70%;
        width: 80%;
        transition: all 0.2s;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top:15%;
        text-align: center;
        z-index: 1;
        background-color: grey;
        border:5px solid grey;
    }
    
    .v-treeview-node__label{
        color:black !important;
    }
</style>