<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="indigo") mdi-circle-edit-outline
                        template(v-slot:default="dialog")
                            v-card
                                v-toolbar(color="indigo accent-2" dark)
                                    span Добавить новое уведомление
                                v-card-text
                                    div.text-h5.pa-12
                                        form(@submit.prevent="create()")
                                            div.form-group
                                                v-text-field.titleColor(v-model.trim="form.message" type="text" placeholder="Сообщение")
                                            v-card-actions.justify-end
                                                v-btn.titleColor(type="submit" outlined color="indigo accent-2") Создать уведомление
                                            v-card-actions.justify-end
                                                v-btn(@click="dialog.value = false" text) Закрыть
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по списку" single-line hide-details)
                v-data-table.tableStyle.titleColor.mt-10(:headers="headers_notifications" :items="notifications" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:body.prepend)
                        tr
                            td
                                v-text-field(v-model="id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="message" @keyup="searchLocally()" type="text")
                            td
                                v-btn.textWhite(outlined @click="clearSearch()")
                                    span Очистить поиск
                    template(v-slot:item.controls="props") 
                        .d-flex
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(outlined @click="setVals(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="indigo") mdi-circle-edit-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Изменить уведомление
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="update(props.item)")
                                                    div.form-group
                                                        v-text-field.titleColor(v-model.trim="form_update.message" type="text" placeholder="Сообщение")
                                                    v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Изменить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
                            v-btn.mr-4.textWhite(outlined @click="deleteItem(props.item)")
                                v-icon(color="red") mdi-information-outline
        nav
            span.pagination.justify-content-center.textWhitePage.mb-2 Навигация по всем уведомлениям
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            links: [],
            search: '',
            notifications: [],
            typeError: '',
            successType: true,
            id: '',
            message: '',
            form: {
                message: ''
            },
            form_update: {
                id: '',
                message: ''
            },
        }),
        async mounted(){
            this.searchLocally()
        },
        computed: {
            ...mapGetters('modules/notifications', [
                'headers_notifications'
            ]),
        },
        methods: {
            ...mapActions("modules/notifications", [
                "setHeadersNotificationsAction"
            ]),
            async deleteItem(item) {
                await this.$axios.$delete(`${this.endpoint}`,
                    {
                    params: {
                        id: item.id.split(' ')[0]
                    }})
                .then(response => {
                    this.searchLocally()
                    this.clearForms()
                    console.log(response.data)
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            setVals(item) {
                this.form_update.id = item.id.split(' ')[0]
                this.form_update.message = item.message
            },
            async searchLocally(){
                await this.$axios.$get(this.endpoint, {
                    params: {
                        id: this.id,
                        message: this.message
                    }
                })
                    .then(response => {
                        this.notifications = response.data
                        this.links = response.links

                        this.notifications.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            clearSearch(){
                this.id = '',
                this.message = ''
                this.searchLocally()
            },
            clearForms(){
                this.form = {
                    id: '',
                    message: ''
                }
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                let response = await this.$axios.$get(key)
                    .then(response => {
                        this.notifications = response.data
                        this.links = response.links

                        this.notifications.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            async update(){
                await this.$axios.$patch(`/${this.endpoint}`, {
                        id: this.form_update.id,
                        message: this.form_update.message
                    }).then(response => {
                        this.searchLocally()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
            },
            async create() {
                this.typeError = ''

                let obj = {}
                obj.message = this.form.message

                await this.$axios.$post(`/${this.endpoint}`, {
                    obj: obj
                }).then(response => {
                    this.searchLocally()
                    this.clearForms()
                    if(response.data.code == 200){
                        this.typeError = 'Успешно обновлено'
                        this.successType = true
                        this.searchLocally()
                        this.clearForms()
                    }else{
                        this.typeError = 'Ошибка обновления в обращении к Instant Api'
                        this.successType = false
                    }
                }).catch(err => {
                    this.typeError = 'Ошибка обновления в обращении к Instant Api'
                    this.successType = false
                    console.log(err, 'error')
                })
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
    .textAdditionalSpan{
        font-size: 12px;
    }
    .textAdditionalBtn{
        font-size: 10px;
    }
    .f-width{
        width:41%;
    }
    .white-text{
        color:white;
    }
</style>